@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  background-color: #fdf6f0;
}

h1, h2, h3, .font-serif {
  font-family: 'Cormorant Garamond', serif;
}
